<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ content_for_header }}

    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'font-awesome.min.css' | asset_url | stylesheet_tag }}
    {{ 'responsive.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'style.css.map' | asset_url | stylesheet_tag }}
    {{ 'style.scss' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {{ content_for_layout }}

    {{ 'bootstrap.js' | asset_url | script_tag }}
    {{ 'custom.js' | asset_url | script_tag }}
    {{ 'jquery-3.4.1.min.js' | asset_url | script_tag }}
  </body>
</html>
